extends ../layout/layout.pug

block content 
    if(action=="delete")
        div.alert.alert-danger The Product has been deleted

    if(action=="create")
        div.alert.alert-danger The Product has been created
    
    if(action=="edit")
        div.alert.alert-success The Product has been updated
    
    if categories.length > 0
        table.table.table-bordered
            thead 
                tr 
                    th(style="width:100px;") Category Name
                    th(style="width:800px;") description
                    th edit-delete
                   
            tbody  
                each category in categories
                    tr 
                        td #{category.name} 
                        td #{category.description} 
                        td 
                            a.btn.btn-primary.btn-sm(href=`/admin/categories/${category._id}`) edit

                            form(action="/delete-category" method="POST")
                                input(type="hidden" name="id" value=`${category._id}`)
                                button(type="submit").btn.btn-danger.btn-sm Delete
                                                
    else 
            h1 No Categories
