extends ../layout/layout.pug
//-bak şimdi shop controllers dan buraya parametreler geldi res.render in içinde olanlar yani bu parametreleri include ile yükledigimiz sayfalarda kullanabiliyor olay bu  

include  ../mixins/createProduct.pug

block content 

    .row 
        .col-md-3 
            include ../includes/list.pug 


        .col-md-9 
            .row
                if products.length > 0

                    each product in products 
                        +createProduct(product)
                else 
                    h1 No Products            