<!DOCTYPE html>
html(lang="en")


        include ../includes/head.pug
        //- meta charset="UTF-8"
        //- meta http-equiv="X-UA-Compatible" content="IE=edge">
        //- meta name="viewport" content="width=device-width, initial-scale=1.0">
        //- meta(charset="utf-8")
        
        body
    

                include ../includes/navbar.pug
                //- include ../includes/list.pug

                .container.pt-100.mb-5
                        block content

                //- include ../error/500.pug            
                include ../includes/script.pug            